DB_USERNAME=root
DB_PASSWORD=""
DB_NAME=databasekoname
DB_HOST=localhost
DB_PORT=3306

# JWt

JWT_SECRET=fdjksafhdjksa
JWT_EXPIRES_IN=4774
JWT_COOKIE_NAME=fdkjsfjToken

# Admin Seeder

ADMIN_EMAIL=adjkdjAdmin@gmail.com
ADMIN_PASSWORD=djkajshdkj

## Khalti

KHALTI_SECRET_KEY=jfdsjhiu89u84h84hu487748
